.mvp-stage {
	position: absolute;
	inset: 0;
	overflow: hidden;
	background-image: url("./../../client/assets/images/BG_SPONSORS.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

	&.show {}

	&.hide {}

	.elements {
		position: absolute;
		z-index: 1;
		inset: 0;
		background-image: url("./../../client/assets/elements/MVP.png");
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.mvp-identity {
		position: absolute;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100px;
		left: 168px;
		top: 123px;

		.logo {
			width: 100px;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			img {
				max-height: 90%;
				max-width: 90%;
			}
		}

		.names {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			color: white;
			text-transform: uppercase;
			height: 100%;
			padding: 20px;
			text-shadow: 0 0 15px black;

			.nickname {
				font-family: "Morganite";
				font-size: 90px;
				line-height: 0.8;
				margin-top: 10px;
			}

			.realname {
				font-family: "IBM Plex Sans";
				font-weight: 800;
				font-size: 24px;
			}
		}
	}

	.mvp-avatar {
		position: absolute;
		bottom: 0;
		z-index: 2;
		width: 740px;
		height: 1000px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		right: 275px;

		img {
			height: 100%;
		}
	}

	.mvp-stats {
		position: absolute;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		right: 110px;
		top: 50%;
		transform: translateY(-50%);
		gap: 40px;

		.mvp-stat {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.value {
				color: #FFDD00;
				font-family: "Morganite";
				font-size: 100px;
				line-height: 1;
			}

			.label {
				color: white;
				font-family: "IBM Plex Sans";
				font-weight: 800;
				text-transform: uppercase;
				font-size: 30px;
				line-height: 1;
			}
		}
	}
}