.stake-odds-stage {
	position: absolute;
	inset: 0;
	overflow: hidden;
}

.odds {
	position: absolute;
	color: white;
	font-family: "Morganite";
	font-size: 50px;
	text-align: center;
	width: 60px;
	top: 26px;
	opacity: 1;

	&.left {
		left: 833px;
	}

	&.right {
		right: 833px;
	}
}
