.match-analysis-page {
	position: absolute;
	inset: 0;
	overflow: hidden;
	background-image: url("./../../client/assets/images/BG_MATCH_ANALYSIS.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.talent-card {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;

	&.t-1 {
		left: 1333px;
		top: 311px;

	}

	&.t-2 {
		left: 1333px;
		top: 631px;

	}

	.card-content {
		position: relative;
		width: 540px;
		height: 281px;

		.card-frame {
			position: absolute;
			z-index: 1;
			inset: 0;
			border: 2px solid #ffdd00;
		}

		.card-identity {
			position: absolute;
			z-index: 2;
			width: 261px;
			height: 63px;
			bottom: 2px;
			right: 2px;
			background: rgba(1, 5, 7, .7);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			font-family: "IBM Plex Sans";
			padding: 15px;
			box-sizing: border-box;
			white-space: nowrap;

			.name {
				color: white;
				font-weight: 900;
				font-size: 25px;
				line-height: 1;
			}

			.social {
				color: #ffdd00;
				font-weight: 500;
				font-size: 15px;
				margin-top: 3px;
				opacity: 0.8;
				transition: opacity 0.3s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.card-role {
		position: relative;
		width: 540px;
		height: 34px;
		font-family: "IBM Plex Sans";
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		color: white;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 23px;
		white-space: nowrap;
	}
}
