

.pip-countdown-stage {
  position: absolute;
	inset: 0;
	overflow: hidden;
	background-image: url("./../../client/assets/images/BG_SPONSORS.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.elements {
	position: absolute;
	z-index: 1;
	inset: 0;
	background-image: url("./../../client/assets/elements/pip-matches.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.pc-timer {
	position: absolute;
	z-index: 2;
	left: 150px;
	bottom: 134px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-items: center;
	color: white;

	.label {
		font-family: "IBM Plex Sans";
		font-size: 16px;
		font-weight: 800;
		line-height: 0.8;
		text-transform: uppercase;
	}

	.value {
		font-family: "IBM Plex Sans";
		font-weight: 900;
		font-size: 45px;
		line-height: 0.8;
	}

}

.pc-list {
	position: absolute;
	z-index: 2;
	height: 1200px;
	right: -30px;
	top: -70px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-content: center;
	justify-content: center;
	transform: scale(0.75);
	
}

.match-card {
	display: flex;
	z-index: 2;
	flex-direction: row;
	justify-content: center;
	


	.card-team {
		display: flex;
		flex-direction: column;

		.card-logo {
			width: 190px;
			height: 190px;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			img {
				max-width: 70%;
				max-height: 80%;
			}
		}

		.card-name {
			width: 190px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, 0.4);
			color: white;
			font-family: "IBM Plex Sans";
			font-weight: 800;
			font-size: 17px;
			text-transform: uppercase;
		}
	}

	.card-center {
		display: flex;
		flex-direction: column;

		.card-state {
			width: 190px;
			height: 190px;
			display: flex;
			justify-content: center;
			align-items: center;

			.score {
				font-family: "Morganite";
				color: white;
				font-size: 120px;
			}

			.vs {
				font-family: "Morganite";
				color: white;
				font-size: 80px;
			}
		}

		.card-info {
			width: 190px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "IBM Plex Sans";
			font-weight: 800;
			font-size: 24px;
			text-transform: uppercase;

			&.finished {
				background-color: #363636;
				color: white;
			}

			&.upcoming,
			&.live,
			&.next {
				background-color: #ffdd00;
				color: #141414;
				font-size: 30px;
			}
		}

		.card-mode {
			width: 190px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			text-transform: uppercase;
			font-family: "IBM Plex Sans";
			font-weight: 800;
		}
	}
}
